<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {{ title }} 현황</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body onload="onReady()">

<h1> {{ title }} 현황</h1>

<div class="container">
    <table>
        <thead>
        <tr>
            <th>시간별</th>
            <th>수량</th>
            <th>평균가 (₩)</th>
            <th>최저가 (₩)</th>
            <th>최고가 (₩)</th>
            <th>예측판매가격 (₩)</th> <!-- 예측 판매가격 열 추가 -->
        </tr>
        </thead>
        <tbody id="combined-table-body">
        <!-- 예측 가격이 포함된 데이터가 여기에 추가됩니다. -->
        </tbody>
    </table>
</div>

<script>
    function onReady() {
        // Jinja2에서 JSON 형식으로 데이터를 넘겨줌
    const sortedReports = {{ reports_json | tojson }};

   // 날짜 기준으로 정렬
    const sortedByDate = sortedReports.sort((a, b) => new Date(a.dated_at) - new Date(b.dated_at));

    // 판매가격 예측 및 테이블에 추가
    const combinedTableBody = document.getElementById('combined-table-body');
    let minPredictedPrice = Infinity; // 가장 낮은 예측 가격 초기화
    let minPredictedRow; // 가장 낮은 예측 가격을 가진 행

    sortedByDate.forEach(report => {
        const predictedPrice = (report.low_price + report.average_price) / 2; // 예측 가격 계산

        // 테이블에 데이터 추가
        const row = document.createElement('tr');
        row.innerHTML = `
            <td>${new Date(report.dated_at).toLocaleString()}</td>
            <td>${report.total_unit}</td>
            <td>${Math.floor(report.average_price)}</td>
            <td>${report.low_price}</td>
            <td>${report.max_price}</td>
            <td>${Math.floor(predictedPrice)}</td> <!-- 예측 가격 -->
        `;

        // 예측 가격이 가장 낮은 경우
        if (predictedPrice < minPredictedPrice) {
            minPredictedPrice = predictedPrice;
            minPredictedRow = row; // 가장 낮은 예측 가격 행 저장
        }

        combinedTableBody.appendChild(row);
    });

    // 가장 낮은 예측 가격을 가진 행에 하이라이팅 적용
    if (minPredictedRow) {
        minPredictedRow.classList.add('highlight');
    }
    }

</script>

</body>
</html>
